@if(user.agree === true){

<h1>Complimenti, puoi iniziare a scrivere</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Titolo storia </nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzValidatingTip="Validating..."
      [nzErrorTip]="titleErrorTpl"
    >
      <input
        nz-input
        formControlName="title"
        placeholder="Inserisci il titolo della storia"
      />
      <ng-template #titleErrorTpl let-control>
        <div *ngIf="control.errors?.['required']">
          Please input your story title!
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7"> Immagine </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input
        nz-input
        formControlName="img"
        placeholder="Inserisci url dell'immagine"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzErrorTip="Please write story description!"
    >
      <nz-textarea-count [nzMaxCharacterCount]="2000">
        <textarea
          formControlName="description"
          nz-input
          rows="2"
          placeholder="Scrivi qualsiasi cosa"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Genere </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="genereErrorTpl">
      <input nz-input formControlName="genere" placeholder="Genere" />
      <ng-template #genereErrorTpl let-control>
        <div *ngIf="control.errors?.['required']">
          Please input story genre!
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Numero capitoli</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      [nzErrorTip]="capitoliErrorTpl"
    >
      <input
        nz-input
        formControlName="numeroCapitoli"
        placeholder="Nr capitoli"
        type="number"
        (change)="onCapitoliChange()"
      />
      <ng-template #capitoliErrorTpl let-control>
        <div *ngIf="control.errors?.['required']">
          Please input the number of chapters!
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Aggiungi i campi per i capitoli -->
  <div formArrayName="capitoli">
    <div
      *ngFor="let capitolo of capitoli.controls; let i = index"
      [formGroupName]="i"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired
          >Capitolo {{ i + 1 }}: Titolo</nz-form-label
        >
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          [nzErrorTip]="capitoloTitleErrorTpl"
        >
          <input
            nz-input
            formControlName="titolo"
            placeholder="Titolo capitolo"
          />
          <ng-template #capitoloTitleErrorTpl let-control>
            <div *ngIf="control.errors?.['required']">
              Please input the chapter title!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired
          >Capitolo {{ i + 1 }}: Contenuto</nz-form-label
        >
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          [nzErrorTip]="capitoloContentErrorTpl"
        >
          <textarea
            nz-input
            formControlName="contenuto"
            placeholder="Contenuto capitolo"
          ></textarea>
          <ng-template #capitoloContentErrorTpl let-control>
            <div *ngIf="control.errors?.['required']">
              Please input the chapter content!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button
        nz-button
        nzType="primary"
        [disabled]="!validateForm.valid"
        type="submit"
      >
        Submit
      </button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

} @else {
<div class="container">
  <div class="regolamentoDiv">
    <img src="any.webp" alt="immagine any" />
    <div class="regolamento">
      <video controls autoplay>
        <source src="lazy.mp4" type="video/mp4" />
      </video>
      <p>
        <span nz-icon nzType="warning" nzTheme="outline"></span> Non hai
        accettato il regolamento quindi non puoi accedere a questa pagina in
        modo permanente.
        <br />
        Questo account non può essere abilitato. Qualora volessi cimentarti a
        diventare uno scrittore, potrai creare un nuovo account
      </p>
    </div>
  </div>
</div>
}
