h1 {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #c38e7d;
}
[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}
.container {
  display: grid;
  place-items: center;
  margin: 0;
}

.regolamentoDiv {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  padding-block: 1rem;
  padding-inline: 1rem;
  position: relative;
}

.regolamento {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 2rem;
}
img {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  opacity: 0.5;
}
span {
  color: rgb(131, 4, 4);
}
video {
  height: 240px;
  width: 320px;
}
