@if(user.agree === true){

<p>Complimenti, puoi iniziare a scrivere</p>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Titolo storia: </nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzValidatingTip="Validating..."
      [nzErrorTip]="titleErrorTpl"
    >
      <input
        nz-input
        formControlName="title"
        placeholder="Inserisci il titolo della storia"
      />
      <ng-template #titleErrorTpl let-control>
        @if (control.errors?.['required']) { Please input your story title! }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description:</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzErrorTip="Please write story description!"
    >
      <nz-textarea-count [nzMaxCharacterCount]="2000">
        <textarea
          formControlName="description"
          nz-input
          rows="2"
          placeholder="write any thing"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Genere: </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="genereErrorTpl">
      <input nz-input formControlName="genere" placeholder="Genere" />
      <ng-template #genereErrorTpl let-control>
        @if (control.errors?.['required']) { Please input story genre! }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

}@else {
<div class="container">
  <div class="regolamentoDiv">
    <img src="any.webp" alt="immagine any" />
    <div class="regolamento">
      <video controls>
        <source src="lazy.mp4" type="video/mp4" />
      </video>
      <p>
        <span nz-icon nzType="warning" nzTheme="outline"></span> Non hai
        accettato il regolamento quindi non puoi accedere a questa pagina in
        modo permanente.
        <br />
        Questo account non può essere abilitato. Qualora volessi cimentarti a
        diventare uno scrittore, potrai creare un nuovo account
      </p>
    </div>
  </div>
</div>
}
