<h1>FableHaven</h1>

<h3>
  Uno spazio tutto tuo e segreto dove poter liberare la fatasia e poter scrivere
  ciò che non avresti mai il coraggio di scrivere
</h3>

<p>
  In questo sito è possibile lasciar correre l'immaginazione, scrivere storie di
  stampo fanfiction o legate a qualsiasi evento, anche privato
</p>
<p>
  Chiunque dietro un nickname, potrà raccomntare di sé e far scorrere le dita
  sulal tastiera lasciando che le storie prendano vita
</p>

@if(storia){
<div class="container">
  <div>
    <p class="title">{{ storia.title }}</p>
    <img [src]="storia.img" alt="{{ storia.img }}" />

    <p>Descrizione{{ storia.description }}</p>
  </div>
</div>
}

<section class="logReg">
  <h3>Vuoi continuare a leggere la storia?</h3>
  <h3>Entra a far parte del mondo di FableHaven</h3>
  <p>Non sei ancora registrato?</p>
  <p>
    Cosa aspetti?!
    <span
      ><a
        routerLink="/register"
        nz-button
        nzType="default"
        [nzSize]="size"
        nzShape="round"
        >Registrati!</a
      ></span
    >
  </p>
  <p>
    Sei registrato?

    <span
      ><a
        routerLink="/login"
        nz-button
        nzType="default"
        [nzSize]="size"
        nzShape="round"
        >Loggati!</a
      ></span
    >
  </p>
</section>

<section id="regolamento" class="regolamento">
  <h3><span nz-icon nzType="warning" nzTheme="outline"></span>Regolamento</h3>
  <p>
    Registrandoti e loggandoti acceterai di usare un eventuale linguaggio
    spinto, ma non violento e discriminatorio
  </p>
  <p>
    L'eventuale uso di parole discriminatorie com porterà la cancellazione della
    storia e un potenziale ban dell'account a essa legato
  </p>
  <p>
    E' vietata la divulgazione del materiale ivi contenuto, nel rispetto dei
    lettori e degli scrittori.
  </p>
  <p>
    Per rispettare la privacy sulla fantasuia di tutti per poter leggere e
    scrivere storie è necessario registrarsi
  </p>
  <p>I commenti alle storie devono essere redati nel rispetto di tutti</p>
</section>
